streamlit
pandas
numpy
plotly
folium
streamlit-folium
fastapi
uvicorn
joblib
pydantic
scikit-learn
imbalanced-learn
vaderSentiment
qrcode
pillow
fuzzywuzzy
python-Levenshtein
requests
matplotlib
networkx
prophet
base64
urllib
